.general-wrapper{
  padding-top: 40px;
}

.stats-buttons button{
  margin-right: 15px;
}

.stats-buttons {
  margin-bottom: 50px;
}

.custom-field input{
  -webkit-transition: all .3s;
  -moz-transition:    all .3s;
  -o-transition:      all .3s;
  -ms-transition:     all .3s;
  transition:         all .3s;
  border: 1px solid #000;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline:none;

}

.custom-field .form-control:hover{
  background: #aeaeae;
}


.custom-field .form-control:focus, .custom-field .form-control:active {
  background-color: yellow;
  border-color: black;
  outline: 0;
  box-shadow: none;
}


.custom-field {
  margin-bottom: 15px;}
